@import "tailwindcss";

:root {
  --background: #f8f7f5;
  --foreground: #9c6a49;
}

@theme {
  --color-primary: #50304d;
  --color-secondary: #9c6a49;
  --color-orange: #f9c09a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f7f5;
    --foreground: #9c6a49;
  }
}

body {
  background: url("/background.svg") repeat;
  background-size: cover;
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}
